<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>35382520577-urudngbdkpu4psrugr55j2ti171n47it.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.35382520577-urudngbdkpu4psrugr55j2ti171n47it</string>
	<key>API_KEY</key>
	<string>AIzaSyCVq5M3a5x4sJrKK9XyX13162ThG2v7c0o</string>
	<key>GCM_SENDER_ID</key>
	<string>35382520577</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.HBBs.gv247App</string>
	<key>PROJECT_ID</key>
	<string>ngv247-c413a</string>
	<key>STORAGE_BUCKET</key>
	<string>ngv247-c413a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:35382520577:ios:857131c49f382344</string>
	<key>DATABASE_URL</key>
	<string>https://ngv247-c413a.firebaseio.com</string>
</dict>
</plist>